/* App.css */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.App-header {
  background-color: #404040;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
}

input[type="file"] {
  margin: 10px 0;
}

.uuid-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}

.radio-btn {
  font-size: 0.44em;
}

button {
  background-color: #1d9e33;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #51df68;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.uuid-input-container {
  text-align: center;
  margin-top: 20px;
}

.tips-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tips-section {
  background-color: #404040;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
  color: #ccc;
  text-align: left;
  font-size: 0.5em;
}

.tips-section ol {
  counter-reset: list-counter;
  list-style-type: none;
  padding-left: 20px;
}

.tips-section ol li {
  counter-increment: list-counter;
  margin-bottom: 10px;
}

.tips-section ol li::before {
  content: counter(list-counter) ". ";
  font-weight: bold;
  margin-right: 5px;
}

.tips-section p {
  margin-bottom: 20px;
  font-weight: bold;
}
