/* App.css */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjust content to start at the top */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px; /* Add some space at the top */
}

.App-header {
  background-color: #404040; /* Slightly lighter gray for contrast */
  padding: 20px;
  border-radius: 10px; /* Curved edges */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px 0; /* Add some margin to lift the box */
  width: 80%; /* Adjust width */
  max-width: 600px; /* Max width to avoid too wide on large screens */
}

input[type="file"] {
  margin: 10px 0;
}

.uuid-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}

.radio-btn {
  font-size: 0.44em;
}

button {
  background-color: #1d9e33;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #51df68;
}
