body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.UUID-label {
  font-size: 0.5em;
  margin: 10px;
}

.inline-container {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

input[type="file"] {
  flex-grow: 0;
}

.inline-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uuidInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}